<span id="duoshuoId" hidden="true">{{ site.duoshuo.id }}</span>
{% for post in paginator.posts %}
    <div class="article" id="{{ post.id | replace: '/', '_' }}">
        <h3 class="title"><a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
        <article class="rexp">
            <p>{{ post.excerpt }}</p>
        </article>
        <a href="{{ site.baseurl }}{{ post.url }}" class="more"><i class="icon-link"></i></a>
        <div class="info">
            <span class="info-title"><i class="icon-calendar"></i> Published: </span>
            <span class="info-date">{{ post.date | date: "%Y-%m-%d" }}</span>
            <span class="info-title"><i class="icon-folder-open"></i> Category: </span>
            <span class="info-link"><a href="{{ site.url }}/navigations/categories.html#{{ post.category }}-ref" >{{ post.category | join: ', ' }}</a></span>
            <span class="info-title"><i class="icon-comment"></i> Comment: </span>
            <span class="info-comment"><a href="{{ site.baseurl }}{{ post.url }}#comment" >(0)</a></span>
            <span class="info-title"><i class="icon-heart"></i> Like: </span>
            <span class="info-like"><a href="{{ site.baseurl }}{{ post.url }}#comment" >(0)</a></span>
        </div>
    </div>
{% endfor %}
{% if paginator.total_pages > 1 %}
    <nav class="pagination fn-clear">
        <span class="pagination-icon"><i class=" icon-copy"></i></span>
        <ul class="pagination-list">
            {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                    <li class="current"><a href="javascript:void(0);">{{ page }}</a></li>
                {% else %}
                    <li><a href="{{ site.baseurl }}/{%if page > 1 %}page{{ page }}/{% endif %}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endif %}

<script type="text/javascript" src="http://libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/comments.js"></script>